{% extends "base.html" %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
        <!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<header id="page-title">

				<div class="container">
					<h1>Группы и открытые уроки</h1>

					<ul class="breadcrumb">
						<li><a href="/">Главная</a></li>
						<li class="active">Занятия</li>
					</ul>
				</div>
			</header>

			<section class="container">

				<h2>Список активных или запланированных групп и открытых уроков</h2>
				<p class="lead">Собраны наборы танцевальных групп и открытые уроки, которые могут стать для Вас первой ступенькой на пути познания себя в танце или же очередным этапом в развитии.</p>
				<p>Найдете информацию о школе, которая организовывает группу/урок, дате проведения, направлении танца и другой полезной информации.</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				{% for classes in classes_months %}
				<h2>{{ classes.month }}</h2>
				<table class="table table-striped">
					<!-- table head -->
					<thead>
						<tr>
							<th>Название</th>
							<th>Даты проведения</th>
							<th class="hidden-sm hidden-xs">Школа</th>
							<th>Направления танцев</th>
							<th class="hidden-sm hidden-xs">Подробнее</th>
						</tr>
					</thead>

					<!-- table items -->
					<tbody>
					{% for class in classes.instances %}
						<tr class="{% if class.is_opened_lesson or class.is_first_lesson_free or class.is_probably_free %}success{% endif %}"><!-- item -->
							<td>{{ class.title }}
								{% if class.experience_level %} | <span title="Уровень сложности">{{ class.experience_level_show }}</span>{% endif %}
								{% if class.links.all %} ({% for link in class.links.all %}<a href="{{ link }}">Перейти</a>{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}</td>
							<td>{{ class.date }}
								{% if class.schedule_week_days.all %} |
								    {% for week_day in class.schedule_week_days.all %}
								        {{ week_day.week_day_show }}
								        {% if not forloop.last %}, {% endif %}
								    {% endfor %}
								{% endif %}</td>
							<td class="hidden-sm hidden-xs">{{ class.dance_studio.title }}</td>
							<td>{{ class.get_dance_types }}</td>
							<td class="hidden-sm hidden-xs">
								{% if class.is_opened_lesson or class.is_first_lesson_free %}<i class="fa fa-gift" title="Бесплатное занятие"></i> {% endif %}
								{% if class.is_probably_free %}<i class="fa fa-question-circle-o" title="Условно-бесплатное участие, например при условии репоста и выигрыша путем жребия"></i> {% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% endfor %}

			</section>

		</div>
		<!-- /WRAPPER -->
{% endblock %}