{% extends "base.html" %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
        <!-- WRAPPER -->
		<div id="wrapper">
			<!-- PAGE TITLE -->
			<header id="page-title">

				<div class="container">
					<h1>Группы и открытые уроки</h1>

					<ul class="breadcrumb">
						<li><a href="/">Главная</a></li>
						<li class="active">Занятия</li>
					</ul>
				</div>
			</header>

			<section class="container">
				<div class="row">
                    <div class="col-md-12">
                        {% if not archive %}
                        <a href="/classes/" class="btn btn-primary">Занятия</a>
                        <a href="/classes/archive/" class="btn btn-default">Архив</a>
                        {% else %}
                        <a href="/classes/" class="btn btn-default">Занятия</a>
                        <a href="/classes/archive/" class="btn btn-primary">Архив</a>
                        {% endif %}
                    </div>
                </div>

				<h2>Список активных или запланированных групп и открытых уроков</h2>
				<p class="lead">Собраны наборы танцевальных групп и открытые уроки, которые могут стать для Вас первой ступенькой на пути познания себя в танце или же очередным этапом в развитии.</p>
				<p>Найдете информацию о школе, которая организовывает группу/урок, дате проведения, направлении танца и другой полезной информации.</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<form method="post">
                    {% csrf_token %}
                    <div class="row" style="margin-top:10px; text-align:center">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <em>Типы занятий</em>
                                </div>
                                <div class="col-md-12">
                                    {{ form.dance_class_types }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <em>Стили танцев</em>
                                </div>
                                <div class="col-md-12">
                                    {{ form.dance_styles }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <em>Виды стоимости</em>
                                </div>
                                <div class="col-md-12">
                                    {{ form.price_types }}
                                </div>
                            </div>
                        </div>
					</div>
					<div class="row" style="margin-top:10px; text-align:center">
						<div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <em>Школы</em>
                                </div>
                                <div class="col-md-12">
                                    {{ form.dance_studios }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <em>Уровень опыта</em>
                                </div>
                                <div class="col-md-12">
                                    {{ form.experience_levels }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Найти</button>
                        </div>
                    </div>
                </form>

				{% for classes in instances_months %}
				<h2>{{ classes.month }}</h2>
				<table class="table table-striped">
					<!-- table head -->
					<thead>
						<tr>
							<th>Название | Тип занятия | Уровень опыта</th>
							<th>Стили танцев</th>
							<th class="hidden-sm hidden-xs">Школа</th>
							<th>Даты</th>
							<th class="hidden-sm hidden-xs">Стоимость</th>
						</tr>
					</thead>

					<!-- table items -->
					<tbody>
					{% for class in classes.instances %}
						<tr class="{% if class.is_opened_lesson or class.is_first_lesson_free or class.is_probably_free %}success{% endif %}"><!-- item -->
							<td>{{ class.title }}
								{% if class.dance_class_types.all %} | <span title="Уровень сложности">{{ class.dance_class_types_show }}</span>{% endif %}
								{% if class.experience_levels.all %} | <span title="Уровень сложности">{{ class.experience_level_show }}</span>{% endif %}
								{% if class.links.all %} ({% for link in class.links.all %}<a href="{{ link }}">Перейти</a>{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}</td>
							<td>{{ class.get_dance_styles }}</td>
							<td class="hidden-sm hidden-xs">{{ class.dance_studio.title }}</td>
							<td>{{ class.date_show }}
								{% if class.schedule_week_days.all %} |
								    {% for week_day in class.schedule_week_days.all %}
								        {{ week_day.week_day_show }}
								        {% if not forloop.last %}, {% endif %}
								    {% endfor %}
								{% endif %}</td>
							<td class="hidden-sm hidden-xs">
								{% for price_type in class.price_types.all %}
									{% if price_type.title == 'PAID' %}<i class="fa fa-money" title="Платно"></i>{% endif %}
									{% if price_type.title == 'FREE' %}<i class="fa fa-gift" title="Бесплатно"></i>{% endif %}
									{% if price_type.title == 'SHWR' %}<i class="fa fa-question-circle-o" title="Условно-бесплатное участие, например при условии репоста и выигрыша путем жребия"></i>{% endif %}
									{% if price_type.title == 'FLRF' %}<i class="fa fa-exclamation-circle" title="Первое занятие бесплатно"></i>{% endif %}
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% endfor %}

			</section>

		</div>
		<!-- /WRAPPER -->
{% endblock %}