{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
        <!-- WRAPPER -->
		<div id="wrapper">

			<section class="container">
				<div class="row">
					<div class="col-md-12">
                        <hr />
						<h2>
							<strong>ОЙ</strong>, у Вас нет доступа для этой информации!
							<span class="subtitle">Свяжитесь с администрацией для получения доступа.</span>
						</h2>

						<div class="e404">403</div>
					</div>

				</div>

			</section>

		</div>
		<!-- /WRAPPER -->
{% endblock %}