{% extends "base.html" %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
		<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<header id="page-title">
				<div class="container">
					<h1>Компания <strong>Dance</strong></h1>

					<ul class="breadcrumb">
						<li><a href="/">Главная</a></li>
						<li class="active">О Компании</li>
					</ul>
				</div>
			</header>

			<section class="container">

				<!-- WELCOME -->
				<article class="row">
					<div class="col-md-10 col-md-offset-1" style="text-align:center">
						<h2>Dance - основной портал для всех, кто интересуется танцами в Украине и по всему миру.</h2>
						<p class="lead">Задача Dance - всегда быть максимально удобным и в то же время полным источником актуальной информации для всех людей, связанными с танцами.</p>
					</div>
				</article>
				<!-- WELCOME -->

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="tabs nomargin-top">

					<!-- tabs -->
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab1" data-toggle="tab">
								<i class="fa fa-info-circle"></i> О Компании
							</a>
						</li>
						<li>
							<a href="#tab2" data-toggle="tab">
								<i class="fa fa-cube"></i> Наши продукты
							</a>
						</li>
						<li>
							<a href="#tab3" data-toggle="tab">
								<i class="fa fa-handshake-o"></i> Партнерам
							</a>
						</li>
						<li>
							<a href="#tab4" data-toggle="tab">
								<i class="fa fa-heart"></i> Волонтерам
							</a>
						</li>
					</ul>

					<!-- tabs content -->
					<div class="tab-content">
						<div id="tab1" class="tab-pane active">
							<!-- BORN TO BE A WINNER -->
							<article class="row">
								<div class="col-md-6">
									<!--<img class="img-responsive" src="assets/images/demo/about_1.jpg" alt="">-->
								</div>
								<div class="col-md-6">
									<h3>Танцуй с нами - танцуй для себя!</h3>
									<p><b>Танцующая страна</b> - это движение всех, кто влюблен в танцы и прочувствовал чудодейственный эффект на себе.</p>
									<p>Держите руку на пульсе танцевальных событий Киева?</p>
									<p>Тогда Вы попали по адресу!</p>
									<p>Проект создан нами, что бы собрать все события мира социальных танцев в одном месте. Здесь вы найдете актуальную информацию о веречинках (сальсатеки, зукотеки…), летних оупен эйрах, фестивалях и мастер-классах города Киева. Если же слова Salsa, Bachata, Kizomba, Zouk, West Coast Swing… Вам пока ни о чем не говорят, тогда загляните сюда ◄ Open Air 2017 ► (+ maps) и своими глазами все увидите;)</p>
									<p>Kyiv Social Dance Info (salsa, kizomba, zouk…) – это:</p>
									<ul>
										<li>вечеринки, где звучит salsa, bachata, kizomba, zouk, west coast swing…</li>
										<li>информация о бесплатных танцевальных МК</li>
										<li>интересные предложения для танцоров</li>
									</ul>
								</div>
							</article>
							<!-- /BORN TO BE A WINNER -->
						</div>

						<div id="tab2" class="tab-pane">
							<!-- BORN TO BE A WINNER -->
							<article class="row">
								<div class="col-md-6">
									<!--<img class="img-responsive" src="assets/images/demo/about_1.jpg" alt="">-->
								</div>
								<div class="col-md-6">
									<p>Предоставляем разные виды услуг:</p>
								</div>
							</article>
							<!-- /BORN TO BE A WINNER -->
						</div>

						<div id="tab3" class="tab-pane">
							<!-- BORN TO BE A WINNER -->
							<article class="row">
								<div class="col-md-6">
									<!--<img class="img-responsive" src="assets/images/demo/about_1.jpg" alt="">-->
								</div>
								<div class="col-md-6">
									<p>Предлагаем Вам присоединиться к движению "Танцующая страна". </p>
								</div>
							</article>
							<!-- /BORN TO BE A WINNER -->
						</div>

						<div id="tab4" class="tab-pane">
							<!-- BORN TO BE A WINNER -->
							<article class="row">
								<div class="col-md-6">
									<!--<img class="img-responsive" src="assets/images/demo/about_1.jpg" alt="">-->
								</div>
								<div class="col-md-6">
									<p>Если Вы хотите стать частью движения "Танцующая страна" либо помочь в развитии проекта, то возможно именно тут найдете способ максимально эффективно приложить свои усилия в благоприятном русле.</p>
									<p>Нам нужны следующие направления, где Вы можете найти себе применение:</p>
								</div>
							</article>
							<!-- /BORN TO BE A WINNER -->
						</div>
					</div>

				</div>



				<hr />

			</section>

		</div>
		<!-- /WRAPPER -->
{% endblock %}