{% extends "base.html" %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
{% load crispy_forms_tags %}
        <!-- WRAPPER -->
		<div id="wrapper">
            <!-- PAGE TITLE -->
			<!--<header id="page-title" class="nopadding">
				<div id="gmap"></div>
				<script type="text/javascript">
					var	$googlemap_latitude 	= -37.812344,
						$googlemap_longitude	= 144.968900,
						$googlemap_zoom			= 13;
				</script>
			</header>-->

			<section id="contact" class="container" style="margin-top:25px">

				<div class="row">

					<!-- FORM -->
					<div class="col-md-8">

						<h2>Рады всем: <strong><em>кто любит танцы или еще не успел!</em></strong></h2>
						{% if msg_sent %} <div>Ваше сообщение отправлено</div> {% endif %}
						<form role="form" action="" method="post">
						    {% csrf_token %}
						    {{ form|crispy }}
						    <button type="submit" class="btn btn-primary">Отправить нам сообщение</button>
						</form>

						<!--<form id="contactForm" class="white-row" action="" method="post">
							<div class="row">
								<div class="form-group">
									<div class="col-md-4">
										<label>Full Name *</label>
										<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="contact_name" id="contact_name">
									</div>
									<div class="col-md-4">
										<label>E-mail Address *</label>
										<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="contact_email" id="contact_email">
									</div>
									<div class="col-md-4">
										<label>Phone</label>
										<input type="text" value="" data-msg-required="Please enter your phone" data-msg-email="Please enter your phone" maxlength="100" class="form-control" name="contact_phone" id="contact_phone">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12">
										<label>Subject</label>
										<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="contact_subject" id="contact_subject">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12">
										<label>Message *</label>
										<textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="contact_message" id="contact_message"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input id="contact_submit" type="submit" value="Send Message" class="btn btn-primary btn-lg" data-loading-text="Loading...">
								</div>
							</div>
						</form> -->

					</div>
					<!-- /FORM -->


					<!-- INFO -->
					<div class="col-md-4">

						<h2>Свяжитесь с нами</h2>

						<p>
							Если у Вас есть вопросы или пожелания касательно нашего ресурса, хотели бы сотрудничать,
                            присоединиться к нашей команде или просто людите танцы и Вам есть что нам расскажать,
                            то смело пишите!
						</p>

						<div class="divider half-margins"><!-- divider -->
							<i class="fa fa-star"></i>
						</div>

						<p>
							<!--<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> Street Name, City Name, Country</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> 1800-555-1234</span>-->
							<span class="block"><strong><i class="fa fa-envelope"></i> :</strong> <a href="mailto:mail@yourdomain.com">mail@yourdomain.com</a></span>
                            <span class="block"><strong><i class="fa fa-facebook-square"></i> :</strong> <a href="facebook.com">Name</a></span>
                            <span class="block"><strong><i class="fa fa-vk"></i> :</strong> <a href="vk.com">Name</a></span>
						</p>

						<!--<div class="divider half-margins">
							<i class="fa fa-star"></i>
						</div>

						<h4 class="font300">Business Hours</h4>
						<p>
							<span class="block"><strong>Monday - Friday:</strong> 10am to 6pm</span>
							<span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
							<span class="block"><strong>Sunday:</strong> Closed</span>
						</p> -->

					</div>
					<!-- /INFO -->

				</div>

			</section>

		</div>
		<!-- /WRAPPER -->
{% endblock %}