{% extends "base.html" %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}
<style>
#my_gmap {
    width: 100%;
    height: 400px;
    display: block;
    /*-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);*/
    filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
    filter: gray;
    z-index: 1;
    }
</style>
        <!-- WRAPPER -->
		<div id="wrapper">

			<section class="container top-no-header">

				<div style='margin-bottom: 40px;' id="my_gmap"></div>

				<div class="row">

					<!-- center column -->
					<div class="col-md-12">

						<!-- CATEGORY TITLE -->
						<h3 class="page-header nomargin-top">
							<strong class="styleColor">{{ location_title }}</strong> на карте
						</h3>

                        {% for instance in instances %}

						<!-- article summary -->
						<div class="row">
							<div class="col-md-4 text-center">
								<img alt="image" class="img-responsive" src="assets/images/demo/realestate/images/thumb/1.jpg" />
							</div>
							<div class="col-md-8">
								 <div class="row">
									 <div class="col-sm-5">
									 	<h4><a class="styleColor" href="realestate-single.html">{{ instance.title }}</a></h4>
									 </div>
									 <div class="col-sm-5">
										 {% for address in instance.get_locations_address_list %}{{ address }} <br />{% endfor %}
									 </div>
									 <div class="col-sm-2">
									 	<p><small class="block styleSecondColor fsize17">
											{% for link in instance.get_links_list %}
												<a href="{{ link }}">Источник</a>
											{% endfor %}
										</small></p>
									 </div>
								 </div>
								<div class="row">
									<div class="col-sm-6">
										{% for dance_type in instance.get_dance_types_list %}{{ dance_type }}{% if not forloop.last %}, {% endif %}{% endfor %}
									</div>
									<div class="col-sm-6">
										<p>
											<span class="fsize12 pull-right">
												<!--<i class="bed-ico" title="beds"></i> 3 ,
												<i class="garage-ico" title="garage"></i> 1 ,
												<i class="furnished-ico" title="furnished"></i>-->
											</span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /article summary -->


						{% if not forloop.last %}<hr class="half-margins" /><!-- separator -->{% endif %}

                        {% endfor %}

						<hr /><!-- final separator -->

					</div>
				</div>
			</section>


		</div>
		<!-- /WRAPPER -->
<script>
    var map;
    function initMap() {
        // set map settings
        map = new google.maps.Map(document.getElementById('my_gmap'), {
            center: {lat: 50.448, lng: 30.52},
            zoom: 13
        });

        // add marker
        var marker = new google.maps.Marker({
            position: {lat: 50.448, lng: 30.52},
            map: map,
            title: 'Hello World!'
        });

        // add info window
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> ';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        // recenter while resize window
        var currCenter = map.getCenter();
        google.maps.event.addDomListener(window, 'resize', function() {
            map.setCenter(currCenter);
        });
        google.maps.event.addListener(map, 'idle', function(){
            currCenter = map.getCenter();
        });
    }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSeJVa4nfu8wrpf_C9UuwLTuqVjoTZ2-E&callback=initMap">
</script>
{% endblock %}