{% extends "base.html" %}
{% block title %} Расписание мероприятий - {% endblock %}

{% block wrapper %}
<style>
    div.mega-price-table div.alternate {
    background-color: rgba(0,0,0,0.03);
}

div.mega-price-table div.pricing {
    margin-left: 1px !important;
    background: rgba(0,0,0,0.03);
}
div.mega-price-table div .pricing.popular {
    background-color: #676767;
}
@media (max-width: 992px) {
.dance-title {
    text-align: center;
    margin-top: 5px;
}
}

/* content styles */

.inside {
  margin-top: 20px;
  margin-bottom: 20px;

}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  }
</style>
        <!-- WRAPPER -->
		<div id="wrapper">
			<section class="container">
                <!-- Full 1 -->
                <!--<div class="row mega-price-table">

                    <div class="col-md-4 col-sm-6 hidden-sm hidden-xs pricing-desc">

                        <div class="pricing-title" style="height: 75px">
                            <h3><small>Апрель 2017</small></h3>
                        </div>

                        <ul class="list-unstyled">
                            {% for event in events %}
                            <li {% if forloop.counter0|divisibleby:2 %} class="alternate" {% endif %}>{{ event.title }}</li>
                            {% endfor %}
                        </ul>

                    </div>

                    <div class="col-md-2 col-sm-6 block">
                        <div class="pricing popular">

                            <div class="pricing-head">
                                <h3>Стили</h3>
                                <small>танцев</small>
                            </div>


                            <ul class="pricing-table list-unstyled">
                                {% for event in events %}
                                <li {% if forloop.counter0|divisibleby:2 %} class="alternate" {% endif %}>
                                    {% for dance_type in event.dance_types.all %}
                                        {{ dance_type }} <br />
                                    {% endfor %}
                                    <span class="hidden-md hidden-lg">{{ event.title }}</span>
                                </li>
                                {% endfor %}
                            </ul>


                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 block">
                        <div class="pricing">

                            <div class="pricing-head">
                                <h3>Дата</h3>
                                <small>проведения</small>
                            </div>



                            <ul class="pricing-table list-unstyled">
                                {% for event in events %}
                                <li {% if forloop.counter0|divisibleby:2 %} class="alternate" {% endif %}>
                                    {{ event.date }}
                                    <span class="hidden-md hidden-lg">{{ event.title }}</span>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 block">
                        <div class="pricing">

                            <div class="pricing-head">
                                <h3>Место</h3>
                                <small>проведения</small>
                            </div>


                            <ul class="pricing-table list-unstyled">
                                {% for event in events %}
                                <li {% if forloop.counter0|divisibleby:2 %} class="alternate" {% endif %}>
                                    {{ event.get_locations }}
                                    <span class="hidden-md hidden-lg">{{ event.title }}</span>
                                </li>
                                {% endfor %}
                            </ul>


                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 block">
                        <div class="pricing">

                            <div class="pricing-head">
                                <h3>Ссылки</h3>
                                <small>о мероприятии</small>
                            </div>


                            <ul class="pricing-table list-unstyled">
                                {% for event in events %}
                                <li {% if forloop.counter0|divisibleby:2 %} class="alternate" {% endif %}>
                                    {% for link in event.links.all %}
                                        <a href="{{ link }}" title="{{ link }}">Подробнее</a> <br />
                                    {% endfor %}

                                </li>
                                {% endfor %}
                            </ul>


                        </div>
                    </div>



                </div> -->
                <div class="row mega-price-table">

                    <div class="row hidden-sm hidden-xs" style="margin: auto 0">
                        <div class="col-md-4 col-sm-6 pricing-title" style="height: 75px; text-align: left">
                            <h3><small>Апрель 2017</small></h3>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="pricing popular">
                                <div class="pricing-head">
                                    <h3>Стили</h3>
                                    <small>танцев</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Дата</h3>
                                    <small>проведения</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Место</h3>
                                    <small>проведения</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-6">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3>Ссылки</h3>
                                    <small>о мероприятии</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- option list -->
                        {% for event in events %}
                    <div class="row" style="margin: auto 0">
                        <div class="row-height">

                            <div class="col-md-4 col-md-height">
                                <div class="inside inside-full-height">
                                    <div class="dance-title inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; color: #7e8998;">
                                        {{ event.title }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-md-height">
                                <!--<div class="inside inside-full-height"> -->
                                    <div class="pricing popular inside inside-full-height">
                                        <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                            {% if not event.dance_types.all %}
                                            <span class="hidden-md hidden-lg"><b>Стили:</b> Неизвестно</span>
                                            <br />
                                            {% else %}
                                            <span class="hidden-md hidden-lg"><b>Стили: </b></span>
                                            {% endif %}
                                            {% for dance_type in event.dance_types.all %}
                                            {{ dance_type }} <br />
                                            {% endfor %}
                                        </div>
                                    </div>
                                <!--</div> -->
                            </div>

                            <div class="col-md-2 col-md-height">
                                <!--<div class="inside inside-full-height">-->
                                    <div class="pricing inside inside-full-height">
                                        <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                            <span class="hidden-md hidden-lg"><b>Дата: </b></span>
                                            {{ event.date }}
                                        </div>
                                    </div>
                                <!--</div>-->
                            </div>

                            <div class="col-md-2 col-md-height">
                                <!--<div class="inside inside-full-height"> -->
                                    <div class="pricing inside inside-full-height">
                                        <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                            <span class="hidden-md hidden-lg"><b>Место: </b></span>
                                            {{ event.get_locations }}
                                        </div>
                                    </div>
                                <!--</div> -->
                            </div>

                            <div class="col-md-2 col-md-height">
                                <!--<div class="inside inside-full-height"> -->
                                    <div class="pricing inside inside-full-height">
                                        <div class="inside inside-full-height{% if forloop.counter0|divisibleby:2 %} alternate{% endif %}" style="padding: 10px; text-align: center; color: #7e8998;">
                                            <span class="hidden-md hidden-lg"><b>Ссылки: </b></span>
                                            {% for link in event.links.all %}
                                            <a href="{{ link }}" title="{{ link }}">Подробнее</a> <br />
                                            {% endfor %}
                                        </div>
                                    </div>
                                <!--</div> -->
                            </div>
                        </div>
                    </div>
                        {% endfor %}

                        <!-- /option list -->

                </div>
                <!-- /Full 1 -->
                <hr />
            </section>
                  <!--     </div> -->
        </div>


{% for event in events %}


<!--
<p>
    {% for event_type in event.event_types.all %}
        {{ event_type }},
    {% endfor %} |
</p>
-->

{% endfor%}
{% endblock %}