{% extends "base.html" %}
{% block title %}{{ title }} - {% endblock %}

{% block wrapper %}

		<!-- WRAPPER -->
		<div id="wrapper">

			<div class="container magazine top-no-header">

				<div class="row">

					<!-- center column -->
					<div class="col-md-12">

						<header class="page-title">
							<h1 style="text-align: center">{{ event.title }}</h1>
							<div class="pull-right">
								<small class="block styleCoor fsize20">
									<span class="label label-default" title="Даты проведения и длительность мероприятия">{{ event.date_show }} | {{ event.duration_show }}</span>
								</small>
							</div>
							<small class="block styleCoor fsize20">
								<span class="label label-{{ event.status_label_color }}" title="Статус мероприятия"><i class="fa {{ event.status_icon }}"></i> {{ event.status_show }}</span>
							</small>

						</header>

						<div class="divider half-margins"><!-- divider -->
							<i class="fa fa-star"></i>
						</div>
					</div>
				</div>
			</div>

			<section class="container">
				<div class="row">

					<!-- center column -->
					<div class="col-md-12">
						<div class="white-row">

							<!-- PROPERTY FEATURES -->
							<h3 class="page-header margin-bottom40" style="text-align:center">
								<strong class="styleColor">Основная информация</strong>
							</h3>

							<div class="row">
								<!-- col 1 -->
								<div class="col-md-5 col-sm-6 col-md-offset-1">
									{% if event.event_types.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-trophy" title="Типы мероприятий"></i>
												{% for event_type in event.event_types.all %}
												<span class="label label-primary" title="Тип мероприятия">{{ event_type.title_show }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
									{% if event.dance_styles.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-reorder" title="Стиль танца"></i>
												{% for dance_style in event.dance_styles.all %}
												<span class="label label-success" title="Стиль танца">{{ dance_style.title }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
								</div>
								<!-- col 2 -->
								<div class="col-md-5 col-sm-6 col-md-offset-1">
									{% if event.locations.all %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-globe" title="Места проведения"></i>
												{% for location in event.locations.all %}
												<span class="label label-info" title="Место проведения">{{ location.title_show }}</span>
												{% endfor %}
											</small>
										</div>
									</div>
									{% endif %}
									{% if event.note %}
									<div class="row">
										<div class="col-md-12">
											<small class="block styleCoor fsize20">
												<i class="fa fa-exclamation-circle" title="Обратите внимание"></i>
												<span class="label label-default" title="Обратите внимание">{{ event.note }}</span>
											</small>
										</div>
									</div>
									{% endif %}
								</div>
							</div>

							<hr style="margin: 20px 0"/><!-- divider -->

							<p class="lead text-center">Описание мероприятия</p>
							{{ event.description|linebreaks }}

							{% if event.links.all %}
							<p>Источник:
								{% for link in event.links.all %}
								<a href="{{ link.link }}">Перейти</a>
								{% endfor %}
							</p>
							{% endif %}


						</div><!-- /.white-row -->

					</div>

				</div>

			</section>

		</div>
		<!-- /WRAPPER -->


{% endblock %}