<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% for event in events %}
<p>{{ event.title }} |
    {% for event_type in event.event_types.all %}
        {{ event_type }},
    {% endfor %} |
    {{ event.date_start }} - {{ event.date_end }} |
    {% for dance_type in event.dance_types.all %}
        {{ dance_type }},
    {% endfor %} |
    {% for link in event.links.all %}
        {{ link }},
    {% endfor %} |
</p>
{% endfor%}
</body>
</html>